:host{
    display: flex;
    gap: 12px;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, var(--colorBackground1) 19%, rgb(8, 8, 8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    color: var(--colorText1);
}

div{
    animation-delay: 1s;
}

img{
    height: 15dvh;
    width: 15dvh;
}