$sidebar-min-width: 40px;

:host{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: var(--colorBackground1);

    backdrop-filter: blur 12px;
    background-image: var(--imgBgCore);
    background-size: cover;

    header{
        width: 100%;
    }

    #ContentWrapper{
        height: 100%;
        display: flex;
        position: relative;
        overflow: hidden;

        aside{
            position: absolute;
            width: $sidebar-min-width;
            left: 0px;
            height: 100%;
        }

        main{
            margin-left: $sidebar-min-width;
            width: 100%;
            height: 100%;
        }
    }

}