:host{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.card{
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    align-content: flex-start;
    max-height: 100%;
    overflow: hidden;
}

#DreamCore{
    flex: 1;
    gap: 20px;
    display: grid;
    grid-template-rows:  auto 1fr;
    flex-direction: column;
    overflow: hidden;
    

    header{
        display: flex;
        justify-items: flex-start;
        justify-content: flex-start;
        height: min-content;

        #Title{
            flex: 1;
            height: min-content;

            h3{
                height: min-content;
                margin: 0;
            }
        }
    }

    main{
        overflow: auto;

        #TextWrapper{
            display: flex;
            text-wrap: wrap;
            max-height: 100%;
            text-overflow:ellipsis;
            overflow-y: hidden;
        }

    }
}

aside{
    display: flex;
    width: 200px;
}