
<section id="DreamCard" class="card">
    <div id="DreamCore">
        <header> 
            <div id="Title">
                <h3>
                    Dream´sTitle 
                </h3>
            </div>
        </header>
        <main class="scrollbar">
            <p id="DreamText">
                {{texto}}
            </p>
        </main>
    </div>
    <div id="DreamSidebar">
        <aside>
            <div id="DataInfo">
                dd/mm/yyyy hh/mm
            </div>
            <button class="iconBtn editBtn">
                <i class="bi bi-pencil-fill"></i>
            </button>
        </aside>
    </div>
</section>