<header class="enter-from-top">
    <div id="Logo">
        <a [routerLink]="['']">
            <img src="/svg/LogoDreamlog.svg">
        </a>       
    </div>
    <nav>
        <a routerLinkActive="activeRoute" [routerLink]="['home']">Welcome</a>
        <a routerLinkActive="activeRoute" [routerLink]="['news']">News</a>
        <a routerLinkActive="activeRoute" [routerLink]="['aboutUs']">About us</a>
        <a routerLinkActive="activeRoute" [routerLink]="['colaborate']">Colaborate</a>
    </nav>
    <div id="AppButton" class="hide-sm">
        <a class="theme button" [routerLink]="['/app']">{{flgUserWithLogin? 'Go to App' : 'Start now for free'}}</a>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer class="enter-from-bottom" >
    <div >
        <div  class="hide-md hide-l">
            <a class="theme button" [routerLink]="['/app']">{{flgUserWithLogin? 'Go to App' : 'Start now for free'}}</a>
        </div>  
    </div>

    <a class="hover-drop-shadown" href="https://github.com/cristianm-developer/DreamLog-Web" target="blank"><i class="bi bi-github"></i></a>
</footer>