<div id="BgImage">
    <img src="bg/bg2.webp">
</div>
<header>
    <div id="Logo">
        <a [routerLink]="['']">
            <img src="/svg/logo.svg">
        </a>
        <h2>Dreamlog</h2>
    </div>
    <div>
        <a class="button" [routerLink]="['app']"> {{flgUserWithLogin? 'Go to App' : 'Start now for free'}}</a>
    </div>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div></div>
    <a href="https://github.com/cristianm-developer/DreamLog-Web" target="blank"><i class="bi bi-github"></i></a>
</footer>