<main class="card">
    <div id="Logo">
        <img src="/svg/logo.svg">
    </div>
    <h3>Login</h3>
    <form [formGroup]="formGroup" (submit)="login()">
        <div class="inputWrapper">
            <label >Email</label>
            <input type="text" placeholder="myname@mail.com" formControlName="email">
        </div>
        
        <div class="inputWrapper">
            <label >Password</label>
            <input type="password" formControlName="password">
        </div>
        <button class="button" type="submit" >Login</button>
    </form>
    <a id="RegisterLink" [routerLink]="['..', 'register']">Don't have an account yet?  Sign Up</a>
</main>