button {
    all: unset; 
}

.button{
    border-radius: var(--borderRadiusSm);
    background-color: var(--colorTheme2);
    color: var(--colorText1);
    padding: 4px;
    text-align: center;
    cursor: pointer;
    transition: filter var(--timeHoverAnimation);

    &:hover{
        filter: var(--hoverFilter1);
    }
}

.iconBtn{
    border-radius: 50%;
    background-color: var(--colorBackground2);
    color: var(--colorTheme1);
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-content: center;
}

.iconBtn:hover{
    cursor: pointer;
    background-color: var(--colorTheme2);
}