.inputWrapper{

    input,input:-webkit-autofill,textarea{
        color: var(--colorText1);
        padding: 8px;
        appearance: none;
        outline: none;
        border: none;
        resize: none;
        border-radius: var(--Border-Radius);
    }

}