<main id="DreamList">
    <div class="card dreamCard">
        <div class="core">
            <h4>
                Title
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Assumenda aspernatur, numquam fugiat repellat inventore id eligendi asperiores nostrum eaque qui doloribus obcaecati cupiditate dignissimos.
                Mollitia incidunt eligendi porro atque repellat.
            </p>
        </div>
    </div>
</main>
