<head id="DreamListHeader">
    <div id="SearchInput">
        <i class="bi bi-search"></i>
        <div>
            <input type="input" placeholder="Search">
            <label for="search">Search</label>
        </div>
    </div>
</head>
<main id="DreamList">
    <div>
        <div *ngFor="let item of dreams">
            <h4>{{item.title}}</h4>
        </div>
    </div>
    <div id="DreamCard" class="card">
        <div id="Core">
            <h3>
                Title
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Assumenda aspernatur, numqm fugiat repellat inventore id eligendi asperiores nostrum eaque qui doloribus obcaecati cupiditate dignissimos.
                Mollitia incidunt eligendi porro atque repellat.
            </p>
        </div>
        <div id="Options">
            <button id="MoreOptionsBtn">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
            <div id="BottomBar">
                <button class="iconBtn">
                    <i class="bi bi-share-fill"></i>
                </button>
                <button class="iconBtn">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </div>
        </div>
    </div>
</main>