
.rotate{
	animation: rotate 2s linear both;
    &-loop{
        animation-name: rotate ;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}
@keyframes rotate {
    0% {
      transform: scale(1) rotateZ(0);
    }
    100% {
      transform: scale(1) rotateZ(360deg);
    }
  }

.rotate-scale-up {
	animation: rotate-scale-up 0.65s linear both;
    &-loop{
        animation-name: rotate-scale-up ;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}
@keyframes rotate-scale-up {
    0% {
      transform: scale(1) rotateZ(0);
    }
    50% {
      transform: scale(1.4) rotateZ(180deg);
    }
    100% {
      transform: scale(1) rotateZ(360deg);
    }
  }
  
.fade-in-fwd {
    animation: fade-in-fwd .6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes fade-in-fwd {
    0% {
      transform: scale(0.7);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  

*:has(.enter-from-right),:has(.enter-from-left),*:has(.enter-from-bottom),*:has(.enter-from-top){
  position: relative;

  >.enter-from-right {
    translate: 100%;
    animation: enter-from-right;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes enter-from-right {
    0%{
      translate: 100%;
    }
    100%{
      translate: 0vw;
    }
  }

  >.enter-from-left {
    animation: enter-from-left;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier();
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes enter-from-left {
    0%{
      translate: -100%;
    }
    100%{
      translate: 0;
    }
  }

  >.enter-from-top{
    translate: 0 -100%;
    animation: enter-from-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes enter-from-top {
    0%{
      translate: 0 -100%;
    }
    100%{
      translate: 0 0;
    }
  }

  >.enter-from-bottom{
    translate: 0 100%;
    animation: enter-from-bottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes enter-from-bottom {
    0%{
      translate: 0 100%;
    }
    100%{
      translate: 0 0;
    }
  }

}

.fade-in{
  opacity: 0;
  animation-name: fade-in;
  animation-duration: .6s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}
@keyframes fade-in{
  0% { opacity: 0;}
  100% { opacity: 1;}
}

.fade-in-blur{
  animation-name: fade-in;
  animation-duration: .6s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
}
@keyframes fade-in{
  0% { opacity: 0; filter: blur(5px);}
  100% { opacity: 1; filter: blur(0px);}
}