body{
    display: flex;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
}

@media screen and (width <= 460px) {
    .hide-sm{
        display: none;
    }
}
@media screen and (460px < width <= 800px) {
    .hide-md{
        display: none;
    }
}
@media screen and ( 800px < width) {
    .hide-l{
        display: none;
    }
}
