#LoadingScreen{

    &.active{
        display: flex;
    }

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100dvw;
    height: 100dvh;
    background: radial-gradient(circle, rgb(28, 22, 39) 19%, var(--Color-Bg) 100%);
    color: var(--colorText1);
    gap: 12px;

    div{
        animation-delay: 2s;
    }
    
    img{
        height: 15dvh;
        width: 15dvh;
        filter: drop-shadow(0px 0px 3px var(--Color-Theme-l2));
    }

    h4{
        color: var(--Color-Text);
        filter: drop-shadow(0px 0px 3px var(--Color-Theme-l2));
    }
}


