div{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.308);
}

img{
    max-width: 600px;
    width: 60vw;
}
