:host{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: var(--colorBackground1);
    background-image: var(--imgBgCore);
    
    :not(#BgImage){
        z-index: 1;
    }

    section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    header{
        width: 100%;
    }

    #ContentWrapper{
        height: 100%;
        display: flex;
        position: relative;
        overflow: hidden;

        main{
            width: 100%;
            height: 100%;
        }
    }

}