
<section id="MainWrapper">
    <header> 
        <div id="Title">
            <h3>
                mi titulol interesnate
            </h3>
        </div>
        <div id="DataInfo">

        </div>
    </header>
    <main>
        <p>
            mi contenido super interesante...mucho mucho mucho muchomucho mucho
            mi contenido super interesante...mucho mucho mucho muchomucho mucho
            mi contenido super interesante...mucho mucho mucho muchomucho mucho
            mi contenido super interesante...mucho mucho mucho muchomucho mucho
            mi contenido super interesante...mucho mucho mucho muchomucho mucho
            mi contenido super interesante...mucho mucho mucho muchomucho mucho
            mi contenido super interesante...mucho mucho mucho muchomucho mucho
            mi contenido super interesante...mucho mucho mucho mucho 
        </p>
        <div id="DreamCard Wrapper">
            <div class="dreamCard"></div>
            <div class="dreamCard"></div>
            <div class="dreamCard"></div>
            <div class="dreamCard"></div>
            <div class="dreamCard"></div>
        </div>
    </main>
    <div>

    </div>
</section>