:host{
    display: flex;
    >*{
        flex: 1;
    }
    color: var(--colorText1);
    height: 100%;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    height: min-content;
    padding: 24px;
    gap: 12px;
    background-color: var(--Color-Bg-Alpha-2);
    border-radius: var(--Border-Radius) 0 var(--Border-Radius) 0;
}

b{
    text-align: end;
}

.text1{
    color: var(--Color-Text);
}

.text2{
    color: var(--Color-Text2);
}

.enter-from-right{
    animation-delay: .2s;
}