:host{
    display: flex;
    >*{
        flex: 1;
    }
    color: var(--colorText1);
    padding: 24px;
}

main{
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: var(--colorBackground1-opacity-8);
}

b{
    text-align: end;
}